.page-header-nav {
    display: grid;
    position: fixed;
    grid-template-columns: auto repeat(3, 15%);
    width: 85%;
    padding: 10px 10%;
    margin: 0;
    list-style-type: none;
    li {
        &:not(:first-child){
            text-align: center;
        }
        &.underline{
            text-decoration: underline;
        }
        width: 200px;
    }
}