header{
    position: fixed;
    width: 100%;
    .page-header-nav {
        display: grid;
        grid-template-columns: auto repeat(3, 200px);
        color: white;
        padding: 10px 10%;
        right: 0;
        top: 0;
        left: 0;
        margin: 10px;
        list-style-type: none;
        li {
            cursor: pointer;
            &:not(:first-child){
                display: flex;
                span {
                    display: block;
                    margin: auto;
                    text-align: center;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px; 
                    &.underline {
                        border-bottom: 1px solid #fff;
                        padding-bottom: 1px;
                    }
                }
            }
            .logo {
                display: flex;
                align-items: center;
                span {
                    display: block;
                    font-family: Quantico;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 43px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    header{
        .page-header-nav {
            grid-template-columns: auto repeat(3, auto);
            padding: 0;
            color: white;
            li {
                &:not(:first-child){ 
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}