header{
    position: relative;
    .page-header-nav {
        display: grid;
        position: fixed;
        grid-template-columns: auto repeat(3, 200px);
        padding: 10px 10%;
        right: 0;
        top: 0;
        left: 0;
        margin: 10px;
        list-style-type: none;
        li {
            &:not(:first-child){
                text-align: center;
            }
            &.underline{
                text-decoration: underline;
            }
        }
    }
}