{
    "extends": ["google"],
    "rules":{
        "indent": 1,
        "linebreak-style": 0,
        "comma-dangle": ["error", "never"],
        "eol-last": ["error", "never"],
        "no-unused-vars": 1,
        "max-len": ["error", { "code": 100 }]
    }
}