.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 50%;
    &__form {
        display: flex;
        flex-direction: column;
        &-label {
            display: flex;
            flex-direction: column;
        }
    }
    
}