
.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto;
    max-width: 800px;
    background: linear-gradient(206.03deg, #07C9C9 -9.66%, #09D975 135.69%);
    border-radius: 8px;
    &_logo{
        display: grid;
        align-items: center;
        justify-content: center;
    }
.contact-us-title{
    margin-top: 4%;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600px;
    display: block;
    margin-bottom: 60px;
}
.contact-us-title::after{
    position: relative;
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(90.17deg, #00FFFF 0.17%, #00FF85 99.89%);
    max-width: 470px;
    width: 85%;
    margin: auto;
    margin-top: 1px;
}

    &__form {
        display: flex;
        flex-direction: column;
        background: #031230;
        border-radius: 0px 8px 8px 0px;
        padding: 25px;
        padding-bottom: 45px;
        &-label {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            span{
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                padding-bottom: 10px;
                color: #fff;
            }
            input{
                background-color: transparent;
                border: 1px solid #fff;
                border-radius:8px;
                font-weight: 600;
                font-size: 21px;
                line-height: 24px;
                color: #fff;
                &::-moz-focus-inner {
                    border: 0;
                }
            }
        }
        button {
            margin: auto;
            cursor: pointer;
            border-radius: 121px;
            display: block;
            border: 1px solid #00ffea;
            padding: 25px 15px;
            display: flex;
            align-items: center;
            background-color: transparent;
            margin-top: 40px;

            &:active,
            &:focus {
                outline: none;
            }

            &:disabled {
                cursor: default;
                background-color: gray;
            }

            & p{
                background: linear-gradient(90.17deg, #00FFFF 0.17%, #00FF85 99.89%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 0;
                margin: 0;
                font-size: 18px;
                line-height: 26px;
            }
            & img {
                padding-right: 4px;
            }
        }
    }
    
}
.advantages-title{
    margin-top: 7%;
    color: #000000;
    text-align: center;
    font-size: 50px;
    line-height: 61px;
    font-weight: 600px;
    display: block;
}
.advantages-title::after{
    position: relative;
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(90.17deg, #00FFFF 0.17%, #00FF85 99.89%);
    max-width: 470px;
    width: 70%;
    margin: auto;
    margin-top: 14px;
}
