
.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 580px;
    background: linear-gradient(206.03deg, #07C9C9 -9.66%, #09D975 135.69%);
    border-radius: 8px;
    max-width: 900px;
    margin: 0 auto;
    &_logo{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 40px;
        box-sizing: border-box;
    }
    &-title{
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        font-weight: 600px;
        display: block;
        margin-bottom: 60px;
    }
    &-title::after{
        position: relative;
        content: "";
        display: block;
        height: 1px;
        background: linear-gradient(90.17deg, #00FFFF 0.17%, #00FF85 99.89%);
        max-width: 470px;
        width: 85%;
        margin: auto;
        margin-top: 1px;
    }

    &__form {
        background: #031230;
        padding: 20px;
        &-label {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            span{
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                padding-bottom: 10px;
            }
            input{
                background-color: transparent;
                border: 1px solid #fff;
                border-radius:8px;
                font-weight: 600;
                font-size: 21px;
                line-height: 24px;
                color: #fff;
                &::-moz-focus-inner {
                    border: 0;
                }
            }
        }
        button {
            margin: auto;
            cursor: pointer;
            border-radius: 121px;
            display: block;
            border: 1px solid #00ffea;
            padding: 25px 15px;
            display: flex;
            align-items: center;
            background-color: transparent;
            margin-top: 40px;

            &:active,
            &:focus {
                outline: none;
            }

            &:disabled {
                cursor: default;
                background-color: gray;
            }

            & p{
                background: linear-gradient(90.17deg, #00FFFF 0.17%, #00FF85 99.89%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 0;
                margin: 0;
                font-size: 18px;
                line-height: 26px;
            }
            & img {
                margin-right: 10px;
            }
        }
    }
    & .successfully {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #031230;
        border-radius: 8px 0 0 8px;
        p {
            width: 90%;
            margin: 0 auto;
        }
    }
    
}
.advantages-title{
    text-align: center;
    font-size: 50px;
    line-height: 61px;
    font-weight: 600px;
    display: block;
}
.advantages-title::after{
    position: relative;
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(90.17deg, #00FFFF 0.17%, #00FF85 99.89%);
    max-width: 470px;
    width: 70%;
    margin: auto;
    margin-top: 14px;
}

@media screen and (max-width: 1000px) {
    .contact-us {
        display: block;
    }
}
