@import './reusable/page_header/styles/page_header.scss';
@import './reusable/about_us/styles/about_us.scss';
@import './reusable/advantages/styles/advantages.scss';
@import './reusable/contact_us/styles/contact_us.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quantico&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 0 150px;
}

.full-page {
    height: 100vh;
    display: grid;
    align-items: center;
}